.app{
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app_body{
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.2);
  margin-top: -30px;
}

::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-track {
  background: hsla(0,0%,100%,.1);
}
